<div class="container">
  <p></p>
  <div class="alert alert-danger" role="alert">
    Has Gastado <strong>$402.954</strong> En <strong>Cosas Innecesarias</strong> El <strong>Mes De Abril!</strong>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1>Pedro Otto</h1>
    </div>
    <div class="col-md-6">
      <p></p>
      <a href="<%= family_index_path %>" class="btn btn-sm btn-info float-right">Volver</a>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="card col-md-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Límite de gasto mensual</h5>
          <h6 class="card-subtitle mb-2 text-muted">Agregar Límite de Gasto por mes</h6>
          <input type="text" class="form-control" placeholder="$300.000">
          <p></p>
          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
            Aceptar
          </button>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Gastos</h5>
          <h6 class="card-subtitle mb-2 text-muted">Tipos de Gastos:</h6>
          <div class="row">
            <div class="col-12">
              <p class="text-muted">Innecesario: $42.954 | Necesario: $4.000</p>
            </div>
          </div>
          <a href="<%= family_my_expenses_path %>" class="card-link btn btn-danger btn-block">Ver Lista</a>
          <canvas id="pieChart2"></canvas>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Lista de deseos</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ver lista de deseos</h6>
          <div class="row">
            <div class="col-12">
              <p class="text-muted">3 Artículos Deseados | Total: $1.073.500</p>
            </div>
          </div>
          <a href="<%= family_wish_list_path %>" class="card-link btn btn-danger btn-block">Ver Lista</a>
          <canvas id="pieChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //pie
  var ctxP = document.getElementById("pieChart").getContext('2d');
  var myPieChart = new Chart(ctxP, {
    type: 'pie',
    data: {
      labels: ["Viaje Cancún", "Zapatos", "Manicure"],
      datasets: [{
        data: [10000, 65000, 8500],
        backgroundColor: ["#F7464A", "#edba67", "#990000"],
        hoverBackgroundColor: ["#FF5A5E", "#e59d27", "#b30000"]
      }]
    },
    options: {
      responsive: true
    }
  });

  //pie2
  var ctxP = document.getElementById("pieChart2").getContext('2d');
  var myPieChart = new Chart(ctxP, {
    type: 'pie',
    data: {
      labels: ["Necesario", "Innecesario"],
      datasets: [{
        data: [8000, 42954],
        backgroundColor: ["#F7464A", "#444444"],
        hoverBackgroundColor: ["#FF5A5E", "#5b5a5b"]
      }]
    },
    options: {
      responsive: true
    }
  });
</script>
