<div class="container">
  <div class="row">
    <div class="col-6">
      <h4><strong>Familiares</strong></h4>
    </div>
    <div class="col-6">
      <a href="<%= root_path %>" class="btn btn-sm btn-info float-right">Volver</a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Rol</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pedro</td>
          <td>Otto</td>
          <td>Hijo/a</td>
          <td><%= link_to "Ver", family_familiar_path, class: "btn btn-info btn-sm" %></td>
          <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModalFamiliar">
            <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          </button></td>
        </tr>
        <tr>
          <td>Javiera</td>
          <td>Thornton</td>
          <td>Madre</td>
          <td><%= link_to "Ver", family_familiar_path, class: "btn btn-info btn-sm" %></td>
          <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModalFamiliar">
            <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          </button></td>
        </tr>
        <tr>
          <td>Carlos</td>
          <td>the Bird</td>
          <td>Sobrino</td>
          <td><%= link_to "Ver", family_familiar_path, class: "btn btn-info btn-sm" %></td>
          <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModalFamiliar">
            <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalFamiliar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i> Familiar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Rol</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" placeholder="Nombre"></td>
              <td><input type="text" class="form-control" placeholder="Apellido"></td>
              <td>
                <select class="form-control form-control-sm">
                  <option>Padre</option>
                  <option>Madre</option>
                  <option>Hijo/a</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
